:host ::ng-deep {
    .sh-icon-top {
        position: fixed;
        top: 15px;
        font-size: 13px;
        background: rgb(0 0 0 / 40%);
        color: white;
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        &.a,&.b,&.c,&.add {
            &.active {
                background: rgb(0 0 0 / 70%);
            }
        }
        &.a {
            right: 20px;
            transform: scaleX(-1);
        }
        &.b {
            right: 55px;
        }
        &.c {
            right: 90px;
        }
        &.add {
            right: 135px;
        }
        &.chart, &.list {
            background: rgba(0,60,113,0.5);
            &.active {
                background: rgb(0,60,113,0.7);
            }
        }
        &.chart {
            right: 185px;
        }
        &.list {
            right: 220px;
        }
    }
    .sh-top-pop-msg {
        width: 340px;
        position: fixed;
        top: 90px;
        right: 50px;
        z-index: 50;
        border-radius: 5px;
        [nztype~=close-circle] {
            position: absolute;
            cursor: pointer;
            right: -10px;
            top: -10px;
            color: black;
            font-size: 19px;
            color: white;
            font-size: 19px;
            background: black;
            border-radius: 10px;
        }
        & > .head {
            cursor: move;
            background: rgba(0,60,113,0.7);
            border-radius: 2px 2px 0 0;
            padding: 10px 10px 7px 10px;
            color: #fff;
            font-family: MuseoSlab-300;
            font-weight: normal;
            font-style: normal;
            & > i {
                font-size: 14px;
                cursor: pointer;
                color: rgba(0,60,113);
                background-color: white;
                border-radius: 15px;
                vertical-align: baseline;
                vertical-align: top;
                font-weight: bolder;
            }
        }
        & > .body {
            background: white;
            padding: 15px 0 0 0;
            & > .info-b1 {
                width: 246px;
                padding: 0 13px;
                height: 21px;
                & > .r {
                    float: right;
                }
                & > .l {
                    float: left;
                }
            }
            & > .info-b2 {
                width: 95%;
                margin: 0 0 5% 3%;
                & > tr {
                    &:nth-child(1) {
                        border-top: 1px solid #eee;
                        border-bottom: 1px solid #eee;
                    }
                    & > td {
                        min-width: 51px;
                        height: 23px;
                        & > .i1,.i2,.i3,.i4,.i5 {
                            width: 20px;
                            height: 20px;
                            display: inherit;
                            border-radius: 20px;
                        }
                        & > .i1 {
                            background: rgb(255,204,199);
                        }
                        & > .i2 {
                            background: rgb(255,163,158);
                        }
                        & > .i3 {
                            background: rgb(255,120,117);
                        }
                        & > .i4 {
                            background: rgb(255,77,79);
                        }
                        & > .i5 {
                            background: rgb(245,34,45);
                        }
                        & > .l1,.l2,.l3,.l4,.l5 {
                            width: 20px;
                            height: 20px;
                            display: inherit;
                            border-radius: 20px;
                            background: red;
                        }
                        & > .l1 {
                            background: rgb(255,204,199);
                        }
                        & > .l2 {
                            background: rgb(255,163,158);
                        }
                        & > .l3 {
                            background: rgb(255,120,117);
                        }
                        & > .l4 {
                            background: rgb(255,77,79);
                        }
                        & > .l5 {
                            background: rgb(245,34,45);
                        }
                    }
                }
            }
        }
        & > .body-setting {
            background: white;
            padding: 15px 0 0 0;
            font-family: MuseoSlab-300;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            & > .item-h {
                margin: 10px 15px;
                display: inline-block;
            }
            & > .item-b {
                margin: 10px 15px;
                width: 70%;
                text-align: right;
                display: inline-block;
            }
        }
        .body-environment {
            background-color: white;
            padding: 10px;
            font-family: MuseoSlab-300;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            .sh-mp-item {
                width: 100%;
                display: inline-block;
                margin-bottom: 21px;
                cursor: pointer;
                .dis_icon {
                    width: 80px;
                    margin-right: 10px;
                    display: inline-block;
                }
                .dis_list {
                    display: inline-block;
                    width: 220px;
                    vertical-align: middle;
                    h5, span {
                        font-size: 15px;
                    }
                    .m-red {
                        color: rgb(197, 47, 63);
                        margin: 0;
                    }
                }
            }
        }
    }
    .sh-bottom-pop-msg {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 50;
        border-radius: 5px;
        [nztype~=double-right] {
            position: absolute;
            top: 8px;
            left: 49%;
            cursor: pointer;
            transform: rotate(90deg);
            font-size: 19px;
            color: white;
            font-size: 19px;
        }
        & > .head {
            cursor: move;
            background: rgba(0,60,113,0.7);
            border-radius: 2px 2px 0 0;
            padding: 10px 10px 7px 10px;
            color: #fff;
            min-height: 40px;
            font-family: MuseoSlab-300;
            font-weight: normal;
            font-style: normal;
        }
        & > .body-chart {
            background: white;
            padding: 30px;
            min-height: 200px;
        }
        & > .body-list {
            background: white;
            min-height: 200px;
        }
    }
}

::ng-deep {
    .sh-pop-environment-modal {
        .ant-modal-close-x > i {
            background: black;
            color: white;
            border-radius: 30px;
            padding: 4px;
            border: 1px solid;
            font-size: 14px;
            position: absolute;
            top: -10px;
            right: -10px;
        }
        .ant-modal-body {
            padding: 0;
        }
        .ant-modal-footer {
            display: none;
        }
        .ant-modal-header {
            background: #333;
            margin: 0px;
            color: #fff;
            font-size: 1em;
            line-height: 1.4em;
            font-size: 1.2em;
            line-height: 1.166666em;
            padding: 14px 20px;
            font-family: MuseoSlab-300;
            font-weight: normal;
            font-style: normal;
            border-bottom: 1px solid #000;
            .ant-modal-title {
                margin-right: 20px;
            }
        }
        .sh-pop-sub-title {
            margin: 0px;
            background: #000;
            color: #fff;
            font-size: 1em;
            line-height: 1.4em;
            font-size: 1.2em;
            line-height: 1.166666em;
            padding: 14px 20px;
            font-family: MuseoSlab-300;
            font-weight: normal;
            font-style: normal;
            border-bottom: 1px solid #000;
            vertical-align: baseline;
        }
        .sh-pop-msg-item {
            border-top: 1px solid #ddd;
            background: #fff;
            padding: 21px 0;
            .sh-pop-msg-item-l {
                display: inline-block;
                width: 92px;
                margin-left: 20px;
                font-family: MuseoSans-500, sans-serif;
                font-weight: normal;
                font-style: normal;
                color: #333;
            }
            .sh-pop-msg-item-r {
                display: inline-block;
                width: 520px;
                vertical-align: top;
            }
        }
    }

    .sh-pop-add-modal {
        .ant-modal-close-x > i {
            background: black;
            color: white;
            border-radius: 30px;
            padding: 3px;
            border: 1px solid;
            font-size: 12px;
            position: absolute;
            top: -10px;
            right: -10px;
        }
        .ant-modal-body {
            padding: 0;
            max-height: 500px;
            overflow-y: auto;
            .head-t {
                background: rgba(0,60,113,0.7);
                border-radius: 2px 2px 0 0;
                padding: 10px 10px 7px 10px;
                color: #fff;
                font-family: MuseoSlab-300;
                font-weight: normal;
                font-style: 16px;
            }
            .add-inner {
                padding: 20px;
                label {
                    margin-bottom: 15px;
                }
                .login-form-button {
                    width: 100%;
                    background-color: #333;
                }
                .b-m {
                    margin-top: 15px;
                }
            }
        }
        .ant-modal-footer {
            display: none;
        }
    }

    .fancybox-inner {
        overflow-y: auto;
        width: 100%;
        padding: 20px;
        max-height: 95vh;
        font-family: MuseoSans-300, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        h5 {
            font-size: 15px;
        }
        .dis_cat_popup {
            width: 50%;
            display: inline-block;
            margin-bottom: 10px;
            .dis_icon {
                width: 80px;
                margin-right: 10px;
                display: inline-block;
            }
            .dis_list {
                display: inline-block;
                width: 220px;
                vertical-align: middle;
                h5 {
                   color: rgb(197, 47, 63);
                   margin: 0;
                }
            }
        }
    }
}