<div #chart class="sh-map-wapper" style="height: 100%; width: 100%;"></div>
<div #popupMsg>
    <div *ngIf="activeData.dataList.length">
        <div class="sh-mp-head">{{activeData.title}}</div>
        <div class="sh-mp-body">
            <p class="sh-mp-item" (click)="popModal=data" *ngFor="let data of activeData.dataList">
                <span class="sh-mp-msg-s">{{data?.date}}&nbsp;&nbsp;</span>
                <span class="sh-mp-msg-a">{{data?.title}}</span>
            </p>
        </div>
    </div>
</div>

<nz-modal
    nzClassName="sh-pop-modal"
    (nzOnCancel)="popModal=null"
    nzWidth="662px"
    nzCentered="false"
    [(nzVisible)]="!!popModal"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter">
    <ng-template #modalTitle>{{popModal.title}}</ng-template>
    <ng-template #modalContent>
        <!-- <p class="sh-pop-sub-title">在COVID激增的情况下，美国命令领事馆工作人员离开上海-NPR</p> -->
        <div class="sh-pop-msg-item">
            <div class="sh-pop-msg-item-l">Summary</div>
            <a target="_blank" [href]="popModal.news_address" class="sh-pop-msg-item-r">{{popModal.summary}}</a>
        </div>
        <div class="sh-pop-msg-item">
            <div class="sh-pop-msg-item-l">评分</div>
            <div class="sh-pop-msg-item-r"><nz-rate [ngModel]="2.5"></nz-rate></div>
        </div>
        <div class="sh-pop-msg-item">
            <div class="sh-pop-msg-item-l">Comment</div>
            <div class="sh-pop-msg-item-r">Login to HealthMap to comment on this post.</div>
        </div>
    </ng-template>
    <ng-template #modalFooter></ng-template>
</nz-modal>